<a href="https://colab.research.google.com/github/zaidtadha/Python/blob/main/arithmetic_operator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = 5
y = 10
print( x == y )

False

In [2]:
print(x != y)

True

In [3]:
print(x > y)

False

In [4]:
print(x < y)

True

In [5]:
print(x <= y)

True

In [6]:
num1 = input('Enter first number: ')  
num2 = input('Enter second number: ')  
  
sum = float(num1) + float(num2) 
   
min = float(num1) - float(num2)  
  
mul = float(num1) * float(num2)  

div = float(num1) / float(num2)  

print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

Enter first number: 10
Enter second number: 11
The sum of 10 and 11 is 21.0

In [7]:
print('The sum of {0} and {1} is {2}'.format(num1, num2, min))

The sum of 10 and 11 is -1.0

In [8]:
print('The sum of {0} and {1} is {2}'.format(num1, num2, mul))

The sum of 10 and 11 is 110.0

In [9]:
print('The sum of {0} and {1} is {2}'.format(num1, num2, div))

The sum of 10 and 11 is 0.9090909090909091