<a href="https://colab.research.google.com/github/zaidtadha/Python/blob/main/listprac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1 = ["physics", "chemistry", 1997, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]
list1[2]

1997

In [13]:
a = ["apple", "banana", "cherry"]

x = a.count("apple")
x

1

In [9]:

numbers = [2, 3, 5]
numbers1 = [1, 4]
numbers.extend(numbers1)
print('List after extend():', numbers)

List after extend(): [2, 3, 5, 1, 4]

In [10]:
animals = ['cat', 'dog', 'rabbit', 'horse']
index = animals.index('dog')
print(index)

1

In [14]:

numbers = [2, 3, 5, 7]
remove_element = numbers.pop(2)
print('Removed Element:', remove_element)
print('Updated List:', numbers)

Removed Element: 5
Updated List: [2, 3, 7]

In [16]:
numbers = [2, 3, 5, 7]
numbers.remove(2)
print('Updated List: ', numbers)

Updated List:  [3, 5, 7]

In [17]:
country = ['India', 'Australia', 'USA']
country.append('China')

print(country)

['India', 'Australia', 'USA', 'China']

In [18]:
numbers = [11, 3, 7, 5, 2]
numbers.sort()
print(numbers)

[2, 3, 5, 7, 11]

In [19]:

numbers = [2, 3, 5, 7]
numbers.reverse()
print('Reversed List:', numbers)

Reversed List: [7, 5, 3, 2]